/* metadatamenu */

.field-btn-container button.property-metadata-menu,
.metadata-content .action-container .fileclass-btn-container .add-field-button {
  background: transparent;
  color: gray;
  padding: 0;
  margin: 0;
  height: calc(var(--input-height));
  width: calc(var(--input-height) * 0.7);
}

.metadata-menu.modal-container.note-fields-modal .modal {
  width: 705px;
}

.metadata-menu.modal-container.note-fields-modal .modal .field-value-wrapper {
  min-width: 375px;
  max-width: 375px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
  position: relative;
  transition:
    max-height 0.2s ease,
    padding 0.2s ease;
  max-height: 1.5em;
  padding: 0;
}

.metadata-menu.modal-container.note-fields-modal .modal .field-value-wrapper:hover {
  white-space: normal;
  overflow-wrap: break-word;
  overflow: visible;
  min-width: 375px;
  max-width: 375px;
  position: relative;
  z-index: 10;
  max-height: 10em;
}

/* hide metadata menu add button */
.suggester-input .mod-cta {
  display: none;
}
